{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<h1>ToDo Add</h1>

<form method="POST">
    {% csrf_token %}
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
    <label for="{{ form.body.id_for_label }}">Body:</label>
    {{ form.body }}
    <label for="{{ form.completed.id_for_label }}">Completed:</label>
    {{ form.completed }}
    <br>
    <button type="submit">Add</button>
</form>
{% endblock %}